<div ng-show="ctrl.results.length" data-ng-controller="DefaultAppCtrl as ctrl">
    <p align="center"><a href="#" ng-hide="(ctrl.currentPage == 1)" ng-click="ctrl.previous()" class="btn btn-default glyphicon glyphicon-chevron-left" role="button"></a>&nbsp;{{ctrl.currentPage}} of {{ctrl.totalPages}}&nbsp;<a href="#" ng-hide="(ctrl.currentPage == ctrl.totalPages)" ng-click="ctrl.next()" class="btn btn-default glyphicon glyphicon-chevron-right" role="button"></a></p>
    <br>
    <div class="row">
        <div class="col-xs-6 col-md-4"  ng-repeat="item in ctrl.results">
            <div class="thumbnail">
                <img src="../thumbnails/{{item.app_icon}}" height="150" width="150" class="img-thumbnail img-responsive">
                <div class="caption">
                    <h3 align="center">{{item.app_name}}</h3>
                    <p align="center">Developer : {{item.author_name}}</p>
                    <p align="center">Version : {{item.version}}</p>
                </div>
            </div>
        </div>
    </div>
    <p align="center"><a href="#" ng-hide="(ctrl.currentPage == 1)" ng-click="ctrl.previous()" class="btn btn-default glyphicon glyphicon-chevron-left" role="button"></a>&nbsp;{{ctrl.currentPage}} of {{ctrl.totalPages}}&nbsp;<a href="#" ng-hide="(ctrl.currentPage == ctrl.totalPages)" ng-click="ctrl.next()" class="btn btn-default glyphicon glyphicon-chevron-right" role="button"></a></p>
</div>
