<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-user-plus"></span> Sign Up</h1>

        <!-- LOGIN FORM -->
        <form action="/signup" method="post">
            <div class="form-group">
                <label>Email Address</label>
                <input type="text" class="form-control" name="email">
            </div>
            <button type="submit" class="btn btn-default btn-lg">Reset Password</button>
        </form>

        <hr>


    </div>

</div>