<div class="container">
    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1><i class="fa fa-dashboard red"></i> {{page.title}}</h1>
        <h3>Rate Limit Exceeded.</h3>
        <p class="lead">The web server is returning a rate limiting notification <em><span id="display-domain"></span></em>.</p>
        <a href="javascript:document.location.reload(true);" class="btn btn-default btn-lg text-center"><span class="green">Try This Page Again</span></a>
    </div>
</div>
<div class="container">
    <div class="body-content">
        <div class="row">
            <div class="col-md-6">
                <h2>What happened?</h2>
                <p class="lead">This error means you have exceeded the request rate limit for the the web server you are accessing.</p>
                <p class="lead"> Rate Limit Thresholds are set higher than a human browsing this site should be able to reach and mostly for protection against automated requests and attacks.</p>
            </div>
            <div class="col-md-6">
                <h2>What can I do?</h2>
                <p class="lead">If you're a site visitor</p>
                <p>The best thing to do is to slow down with your requests and try again in a few minutes. We apologize for any inconvenience.</p>
                <p class="lead">If you're the site owner</p>
                <p>This error is mostly likely very brief, the best thing to do is to check back in a few minutes and everything will probably be working normal again. If the error persists, contact your website host.</p>
            </div>
        </div>
    </div>
</div>